
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:burlywood">
    
    <center>
        <div class="alert alert-success">
            <strong>Laptop Services</strong>
        </div>

        <div class="alert alert-info">
            <strong>Mobile Services</strong>
        </div>

        <div class="alert alert-warning">
            <strong>Microwave Services</strong>
        </div>

    </center>
  
    

  

 


        <div>
            @Html.ActionLink("Go back to Home Page", "Index", "Home")</div>
        <div>
            @Html.ActionLink("Go to Product Page", "Product", "Products")
        </div>
        
</body>
</html>
